<a href="https://colab.research.google.com/github/sadainsamirr/Coding-Ninjas---Data-Structures-and-Algorithms-in-Python/blob/master/20240701_Session01_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# using print function

In [ ]:
print("hello World")

hello World

In [ ]:
print("Sadain")

Sadain

In [ ]:
print(7)

7

In [ ]:
print(True)

True

In [ ]:
print("hello", end = "-")
print("world")

hello-world

In [ ]:
print("hello", True, 12, 4.5)

hello True 12 4.5

In [ ]:
print("hello", True, 12, 4.5, sep = "/")

hello/True/12/4.5

# DataTypes

In [ ]:
print([1, 2, 3, 4, 5]) #list

[1, 2, 3, 4, 5]

In [ ]:
print((1, 2, 3, 4, 5)) #tuple

(1, 2, 3, 4, 5)

In [ ]:
print({1, 2, 3, 4, 5}) #set

{1, 2, 3, 4, 5}

In [ ]:
print({"a", "b", "c", "d", "e"}) #set

{'a', 'b', 'e', 'd', 'c'}

In [ ]:
print({'Name': 'Sadain', 'Gender': 'Male', 'Age': 21}) #dict

{'Name': 'Sadain', 'Gender': 'Male', 'Age': 21}

In [ ]:
a =int(input("enter first number"))
b =int(input("enter second number"))
print(a+b)

enter first number3
enter second number4
7

In [ ]:
print("Data", "Science", "Mentorship", "Program",
"By","CampusX", sep = '-')

Data-Science-Mentorship-Program-By-CampusX

In [ ]:
# Q2:- Write a program that will convert celsius value to fahrenheit.
celsius = float(input("Enter temperature in Celsius:"))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit is : ", fahrenheit)

Enter temperature in Celsius:32
Temperature in Fahrenheit is :  89.6

In [ ]:
#Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.
a = int(input())
b = int(input())
a, b = b, a
print(a, b)

2
3
3 2

In [ ]:
# Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.
x1 = int(input())
x2 = int(input())
y1 = int(input())
y2 = int(input())
distance = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print(distance)

3
4
4
3
1.4142135623730951

In [ ]:
# Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.
p = int(input())
r = int(input())
t = int(input())
simple_interest = p*r*t/100
print(simple_interest)

3
4
5
0.6

In [ ]:
# Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.
# For example: Input: heads -> 4 legs -> 12
# Output: dogs -> 2 chicken -> 2
heads = int(input("Enter the number of heads:"))
legs = int(input("Enter the number of legs"))

In [ ]:
# Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.
n = int(input("Enter the value of n:"))
sum = 0
for i in range(1, n+1):
    sum +=i**2
print(sum)

Enter the value of n:4
30

In [ ]:
# Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.
n = int(input("Enter the value of n: "))
a = int(input("Enter the value of a: "))
d = int(input("Enter the value of d: "))
print(a + (n - 1) * d)

Enter the value of n: 3
Enter the value of a: 4
Enter the value of d: 3
10

In [ ]:
# Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.
num1 = int(input("enter numerator: "))
denum1 = int(input("Enter Denominator: "))
num2 = int(input("enter numerator 2: "))
denum2 = int(input("Enter Denominator 2: "))
sum = (num1/denum1) + (num2/denum2)
print(sum)

enter numerator: 4
Enter Denominator: 3
enter numerator 2: 3
Enter Denominator 2: 7
1.7619047619047619

In [ ]:
# Write your code here
h = int(input("enter height"))
l = int(input("enter length"))
b = int(input("enter breadth"))
volume = h*l*b
h1 = int(input("enter height of glass"))
r1 = int(input("enter radius of glass"))
volume1 = 3.12*h1*r1
print(volume//volume1)

enter height20
enter length20
enter breadth20
enter height of glass3
enter radius of glass1
854.0